form {
  display: grid;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

form div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 1rem;
}

ul li button {
  margin-left: 1rem;
}
